
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://lorempixel.com/400/200/food');">
  <div class="banner-content">
    <h1><%= @restaurant.name %></h1>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.category %></p>
    <h2>Rating</h2>
    <%= link_to "create a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">

          <% @restaurant.reviews.all.each do |r| %>
            <p><%= r.content %></p>
            <% r.rating.times do %>
            <i class="fa fa-star"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
